/Debug/MathsTest.exe
/Debug/MathsTest.exp
/Debug/MathsTest.ilk
/Debug/MathsTest.lib
/Debug/MathsTest.pdb
/MathsTest/Debug
/MathsTest/assets
/MathsTest/log.txt
/Release/MathsTest.exe
/Release/MathsTest.exp
/Release/MathsTest.ilk
/Release/MathsTest.lib
/Release/MathsTest.pdb
/MathsTest/Release
/Release/MathsTest.iobj
/Release/MathsTest.ipdb
